

body {
    width: 100%;
    height: auto;
    background-color: aqua;
}

#canvas {
    background-color: azure;
    text-align: center;
}

#canvas-container {
    text-align: center;
}

h1 {
    text-align: center;
}

table  { 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#button-wrapper {
    text-align: center;
}
