html {
  width: 100%;
  margin: 0;
}

body {
  width: 100%;
  height: auto;
  background-color: #191c1a;
  margin: 0;
}

#center-wrapper {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}


#graph-container {
  text-align: center;
  background-image: radial-gradient(ellipse, #0b0c0b 0, #191c1a);
  width: 1000px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}

#histogram-wrapper {
  text-align: center;
  width: 800px;
  height: 400px;
  margin: auto;
  
}

#histogram {
  background: #191c1a;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  color: #ffffff;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

td {
  color: #ffffff;
  padding: 0 15px;
}

#button-wrapper {
  text-align: center;
}

.btn-font {
  color: #ffffff;
}

#analysis-wrapper {
  visibility: hidden;
  padding: 20px;
}

/* START Custom Ranges */
input[type="range"] {
    width: 100%;
    margin: 3.3px 0;
    background-color: transparent;
    -webkit-appearance: none;
  }
  input[type="range"]:focus {
    outline: none;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    background: #5e5e5e;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type="range"]::-webkit-slider-thumb {
    margin-top: -3.5px;
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    -webkit-appearance: none;
  }
  input[type="range"]:focus::-webkit-slider-runnable-track {
    background: #6b6b6b;
  }
  input[type="range"]::-moz-range-track {
    background: #5e5e5e;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
  }
  input[type="range"]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 4.3px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
  }
  input[type="range"]::-ms-fill-lower {
    background: #515151;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type="range"]::-ms-fill-upper {
    background: #5e5e5e;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
  }
  input[type="range"]::-ms-thumb {
    width: 15px;
    height: 15px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 0px;
    /*Needed to keep the Edge thumb centred*/
  }
  input[type="range"]:focus::-ms-fill-lower {
    background: #5e5e5e;
  }
  input[type="range"]:focus::-ms-fill-upper {
    background: #6b6b6b;
  }
  @supports (-ms-ime-align: auto) {
    /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
    input[type="range"] {
      margin: 0;
      /*Edge starts the margin from the thumb, not the track as other browsers do*/
    }
  }

  /* END Custom Ranges */

